# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alexandre\Desktop\SD\Pratica\sd-assignment-3\sd-assignment-3\AirLiftVJavaRMI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
